---
import { getI18n } from '../i18n/ui';
const { lang, messages } = getI18n(Astro.url);
const bc = messages.breadcrumb;
---

<nav class="breadcrumbs" aria-label="Breadcrumb">
  <div class="max-w-6xl mx-auto px-4">
    <ol class="breadcrumb-list">
      <li><a href={`/${lang}`}>{bc.home}</a></li>
      <li><span>{bc.region}</span></li>
      <li><span>{bc.city}</span></li>
      <li class="current"><span>{bc.current}</span></li>
    </ol>
  </div>
</nav>
